*, *::before, *::after { box-sizing: border-box }

/* 
  * VARIABLES *
*/

:root {
  --primary: #2B38F7;
  --bg: #070A2B;
  --gray: #cbcbcb;
  --text-gray: #e3e3e3;
  --text: #ffffff;
  --margin: 32px
}

/*
  * FUENTES *
*/

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url('./fonts/rubik.ttf')
}

h1, h2, h3 {
  font-family: 'Rubik';
  letter-spacing: 1.5px;
  margin: .5rem
}

h1 { font-size: calc(3rem) }
h2 { font-size: calc(2.5rem + 1vw) }
h3 { font-size: calc(1.2rem + 1vw) }

b { color: #008CF8!important }

html { scroll-behavior: smooth }

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Rubik';
  position: relative;
  font-size: calc(1.25rem);
  overflow-x: hidden;
  zoom: 1
}

section[id|="section"] {
  min-height: 75vh;
  padding-bottom: 5rem;
  height: fit-content
}

section[id|="section"] h2 {
  text-align: center;
  font-size: calc(1.5rem + 1vw)
}

/*
  * WRAPPER *
*/
.wrapper {
  width: 100%;
  max-width: 95%;
  margin-right: auto;
  margin-left:  auto;
  padding-right: 1rem;
  padding-left:  1rem
}

@media (min-width: 1170px) {
  .wrapper { max-width: 1170px }
}

/* Circle Improved */

.circleImproved, .bigCircle {
  position: absolute;
  bottom: -100px;
  left: -100px;
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  background-color: var(--primary);
  z-index: 1
}

/* Big Circle Home */

.bigCircle {
  bottom: inherit;
  right: inherit;
  top: 0;
  left: 0;
  width: 46.5vw;
  height: 100vh;
  border-radius: 0 100% 100% 0;
  background-color: #10133E;
  z-index: -1
}

/*
  * HOME *
*/

#section-home {
  min-height: 100vh;
  padding-top: 1rem!important;
  padding-bottom: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-between
}

#section-home > .homeContainer {
  display: grid;
  grid-template-columns: auto auto;
}

#section-home h1 {
  font-size: calc(2.5rem);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  width: 100%
}

#section-home h1 > span {
  color: var(--primary);
  text-shadow: #ffffff -2px 2px;
}

#section-home p { width: 100% }

.logoImproved {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImproved > img {
  width: 450px;
  height: auto
}

.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem
}

/*
  * Problema *
*/
#section-problema {
  background-color: #10133E;
  position: relative
}
#section-problema > .wrapper {
  padding-top: 6rem;
  align-items: center;
  position: relative;
  z-index: 1
}

#section-problema p {
  margin-top: 2rem
}

#section-problema > .bigCircle {
  right: inherit;
  top: inherit;
  bottom: -300px;
  left: calc(50% - 225px);
  border-radius: 100%;
  width: 600px;
  height: 600px;
  background-color: var(--bg);
  z-index: 0;
}

/* Definición de Programación */
#section-definicion {
  position: relative
}

#section-definicion > .circleImproved {
  bottom: -6rem;
  left: -6rem
}

#section-definicion > .wrapper {
  padding-top: 6rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-gap: 2rem;
  position: relative;
  z-index: 1
}

#section-definicion .codeScreenshot {
  width: fit-content;
  text-align: center
}

#section-definicion .codeScreenshot img {
  width: 100%;
  border-radius: 2rem;
  border: 1px solid #ffffff
}

#section-definicion .que-es-programacion p {
  margin-top: 2rem
}

/* Beneficios */
#section-beneficios .wrapper {
  padding-top: 6rem
}

.beneficio-content {
  padding: 0 3.5rem;
  padding-bottom: 2rem
}

.beneficio-content > p > .title {
  font-size: 1.5rem
}
/* Fin Beneficios */

/* Beneficios de estas clases */
#section-beneficio-clases {
  position: relative;
}

#section-beneficio-clases > .circleImproved {
  bottom: -6rem;
  left: -6rem
}

#section-beneficio-clases .wrapper {
  padding-top: 6rem
}

#section-beneficio-clases .wrapper > .beneficio-clases {
  padding-top: 2rem
}

#section-beneficio-clases .wrapper > .beneficio-clases {
  display: grid;
  grid-template-columns: 400px 10fr;
}

.beneficio-clases > .beneficio-img > img {
  width: 100%;
  height: auto
}

/* CTA */
#section-cta {
  position: relative;
}

#section-cta > .circleImproved {
  bottom: -6rem;
  left: -6rem
}

#section-cta > .wrapper {
  padding-top: 6rem;
  position: relative;
  z-index: 1
}

#section-cta > .wrapper > .empezar-cta {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-gap: 2rem;
}

#section-cta > .wrapper > .empezar-cta > .cta-instructor {
  padding-right: 1rem;
  border-right: 4px solid #10133E
}


/* Fin CTA */

/* Listados especiales */
.improvedList {
  margin:0;
  list-style: none;
  padding:0
}
.improvedList > li {
  position: relative;
  padding-left: calc(48px + 1rem)!important
}

.improvedList > li > span {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 48px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.improvedList > li > span::before {
  content: '';
  width: 24px;
  height: 24px;
  background-color: var(--primary);
  border-radius: 100%;
}

.swiper-button-next, .swiper-button-prev {
  color: var(--primary)!important
}

.swiper-pagination-bullet-active { background-color: var(--primary)!important }

/*
  * FOOTER *
*/
footer {
  background-color: var(--primary);
  padding: 0 1rem;
  font-size: calc(1.5rem + 0.1vw);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

footer > p {
  margin: 2rem 0
}

footer > p > small {
  display: block;
  padding-top: .75rem;
  font-family: 'Rubik';
  letter-spacing: 0;
}

footer > p > small > a {
  color: #ffffff;
  border-bottom: 1px solid #ffffff
}

footer > p > small > a:hover {
  color: #f7b1b0;
  border-color: #f7b1b0
}

/*
  * Botones * 
*/

a {
  text-decoration: none;
  display: inline-block;
  color: var(--primary)
}

a.button {
  width: fit-content;
  display: block
}

.button {
  padding: 1rem;
  position: relative;
  letter-spacing: 1.5px;
  border-radius: 1.5rem;
  background-color: var(--primary);
  color: #fff;
  font-weight: bold
}

.button.small {
  font-size: calc(1rem + 0.15vw);
  padding: .5rem
}

.button.special {
  text-transform: uppercase
}

/* Swiper */
.swiper-container {
  width: calc(100%);
  
  margin: 0 auto;
  margin-top: 2rem
}

.swiper-pagination-bullet {
  background: var(--gray)!important;
  opacity: 1!important
}

.swiper-pagination-bullet-active {
  background: var(--primary)!important
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0!important
}

/* Chat Box */
.chatBox {
  position: fixed;
  z-index: 1000;
  bottom: 2rem;
  right: 2rem;
  width: 56px;
  height: 56px;
  padding: .25rem;
  background: var(--primary);
  border: 1px solid var(--text);
  box-shadow: 1px 6px 20px 0 rgb(7 94 84 / 24%);
  border-radius: 100%
}

.chatBox > div{
  width: 100%;
  height: 100%;
  background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M3.516 3.516c4.686-4.686 12.284-4.686 16.97 0 4.686 4.686 4.686 12.283 0 16.97a12.004 12.004 0 01-13.754 2.299l-5.814.735a.392.392 0 01-.438-.44l.748-5.788A12.002 12.002 0 013.517 3.517zm3.61 17.043l.3.158a9.846 9.846 0 0011.534-1.758c3.843-3.843 3.843-10.074 0-13.918-3.843-3.843-10.075-3.843-13.918 0a9.846 9.846 0 00-1.747 11.554l.16.303-.51 3.942a.196.196 0 00.219.22l3.961-.501zm6.534-7.003l-.933 1.164a9.843 9.843 0 01-3.497-3.495l1.166-.933a.792.792 0 00.23-.94L9.561 6.96a.793.793 0 00-.924-.445 1291.6 1291.6 0 00-2.023.524.797.797 0 00-.588.88 11.754 11.754 0 0010.005 10.005.797.797 0 00.88-.587l.525-2.023a.793.793 0 00-.445-.923L14.6 13.327a.792.792 0 00-.94.23z'/%3E%3C/svg%3E") 50% no-repeat;
  background-size: 60%;
}

/*
  * RWD *
*/

/* Extra Small Devices */
@media (max-width: 575px) {
  #section-home h1 {
    font-size: calc(2rem)
  }
}

/* Small devices */
@media (min-width: 0px) and (max-width: 767.98px) {

  section[id|="section"] { min-height: 0 }

  .wrapper {
    padding-right: .5rem;
    padding-left:  .5rem
  }
  
  /* Adaptando la sección de Inicio. */
  #section-home > .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 3rem
  }

  .logoImproved > img { width: 100%; max-width: 450px }

  #section-home p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  #section-home .bigCircle {
    bottom: -45%;
    right: inherit;
    top: inherit;
    left: 0;
    width: 100vw;
    height: 100vw;
    border-radius: 100%;
    background-color: #10133E;
    z-index: -1
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
  }
  #section-home a {
    margin: 0 auto
  }

  #section-problema .bigCircle {
    left: calc(50vw - 40vw);
    width: 80vw;
    height: 80vw;
  }

  #section-definicion > .wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  #section-definicion .codeScreenshot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #section-beneficio-clases .wrapper {
    padding-bottom: 2rem
  }

  #section-beneficio-clases .wrapper > .beneficio-clases {
    grid-template-columns: 1fr
  }

  .beneficio-clases > .beneficio-img {
    text-align: center;
  }

  .beneficio-clases > .beneficio-img > img {
    max-width: 400px;
  }

  .cta-instructor { grid-area: instructor }
  .cta-call { grid-area: empezar }

  #section-cta > .wrapper > .empezar-cta {
    grid-template-columns: 1fr;
    grid-template-areas: "empezar" "instructor"
  }

  #section-cta > .wrapper > .empezar-cta > .cta-instructor {
    border-right: none;
    padding-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 4px solid #10133E
  }

  /* Swiper */
  
  /* End Swiper */
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991.98px) {

  .wrapper { padding-right: 1rem;padding-left: 1rem }

}

/* Laptops */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/* TV */
@media (min-width: 1400px) {

}